* body {
    font-family : Arial, Verdana;
    color : royalblue;
    background-color : #ffffff;

}

* p {
    color : #ff0000;
}

/* 13.02.2020 */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border:1px dotted red;
    display:flex;
    flex-direction: row;    
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}

li {
    border:1px solid black;
    margin: 0.5em; 
    padding:0.5em;
}

.flex1 {
    order:1;
}
h1 {
    
}
body {cursor: not-allowed;}
body {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: ;
    }
    100% {
      background-color: ;
    }
  }
  img{
      height: 300px;
      width: 600px;
  }



