/*Carsten Röttgers*/
h3 {
    color: white;
    background-color: black;
    padding: 30px;
    padding-left: 80px;
}
#Unser Neustes{
    background-color: green;
}
h1{
    color: red;
    border: dotted 2px red;
    width: 500px;
    padding: 10px;
    padding-left: 120px;
    margin-left: 300px;
}
img {
    width: 440px;
    height: 280px;
    margin-left: 200px;
    padding-right: -200px;
}
div {
    margin-left: 225px ;
    margin-top: 25px;
}
h4 {

    list-style-type: square;
}
#E{
    margin-left: 700px;
    margin-top: -300px;
    text-align: end;
    padding-right: 300px;
}
#g{
    margin-left: 700px;
    margin-top: 50px;
    text-align: center;
    padding-right: 300px;
}
#n{
    margin-left: 700px;
    margin-top: 50px;
    text-align: center;
    padding-right: 300px;
}

#u{
   
    margin-top: -100px;
    margin-left: 350px;
}
#p{
    margin-top: -100px;
    margin-left: 700px;
}
#ue{
    margin-top: -100px;
    margin-left: 1050px;
}
#e{
    margin-top: 50px;
    margin-left: -40px;
}

#Liste{
    margin-top: 50px;
    padding: 20px;
    width: 200px;
    margin-left: 700px;
    background-color: red;
    color: white; 
    text-align: right;
    border: groove;
    border-radius: 20px;
    border-style: groove ;
}
ul{
    top: 100px;
}
#m{
    color: white;
    background-color: red;
    width: 175px;
    padding: 15px;
    margin-left: 450px;
    margin-top: -85px;
    text-align: center;
    border-radius: 20px;
    font-family: ;
    }
    h2{
        margin-left: 725px;
        margin-top: -185px;
    }
